<a href="https://colab.research.google.com/github/Matheus-Pombeiro/python-for-data-science/blob/main/exercises_and_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**

## Exercises and challenges

# First class - Libraries

### **EX 1**

Import of randrange and sample from random

In [ ]:
# Import of randrange and sample from random
from random import randrange, sample

list = []

for i in range(0, 20):
  list.append(randrange(100))

sample(list, 5)

[63, 61, 95, 93, 96]

### **EX 2**

Import all methods from math

In [ ]:
# Import all methods from math
from math import *

n = int(input('Type a positive number to calculate its square root: '))
print(f'\nThe square root of {n} is the same as {sqrt(n)}')

Type a positive number to calculate its square root: 2

The square root of 2 is the same as 1.4142135623730951

### **EX 3**

Import ceil from math

In [ ]:
# Import ceil from math
from math import ceil

revenue = 1000
unit_price = 15

total_units = revenue / unit_price

print(f'The company sold about {ceil(total_units)} units')

The company sold about 67 units

### **Challenge 1**

Import matplotlib

In [ ]:
# Import matplotlib
import matplotlib

### **Challenge 2**

Import numpy

In [ ]:
# Import numpy
import numpy as np

### **Challenge 3**

Choose a random number from the list

In [ ]:
# Choose a random number from the list
from random import choice

list = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

number = choice(list)
number

43

### **Challenge 4**

Draw a positive number lesser than 100

In [ ]:
# Draw a positive number lesser than 100
from random import randrange, sample

list = []

for i in range(0, 7):
  list.append(randrange(100))

sample(list, 1)

[19]

### **Challenge 5**

Calculate power with pow()

In [ ]:
# Calculate power with pow()
from math import pow

number_1 = int(input('Type a number: '))
number_2 = int(input('Type another number: '))

result = pow(number_1, number_2)

print(f'The power of {number_1} raised to {number_2} is the same as {int(result)}')

Type a number: 5
Type another number: 7
The power of 5 raised to 7 is the same as 78125

### **Challenge 6**

Choose a random winner on a social media

In [ ]:
# Choose a random winner on a social media
from random import randint

number = int(input('Enter the number of participants in the draw: '))

print(f'The winner is the participant number {randint(1, number)}')

Enter the number of participants in the draw: 5
The winner is the participant number 3

### **Challenge 7**

Radomly generate an access token for the user

In [ ]:
# Radomly generate an access token for the user
access_token = randrange(1000, 9998, 2)

username = input('What is your name? ')

print(f'Hi, {username}. Your access token is {access_token}. Welcome!')

What is your name? Matheus
Hi, Matheus. Your access token is 9430. Welcome!

### **Challenge 8**

Choose three fruits radomly from the list of fruits of a fruit shop

In [ ]:
# Choose three fruits radomly from the list of fruits of a fruit shop
from random import choices

fruits = ['Apple', 'Banana', 'Grape', 'Pear',
          'Mango',  'Coconut', 'Watermelon', 'Papaya',
          'Orange', 'Pineapple', 'Kiwi', 'Plum']

fruit_salad = choices(fruits, k=3)
print(f'Your fruit salad will be made using {fruit_salad[0]}, {fruit_salad[1]} and {fruit_salad[2]}.')

Your fruit salad will be made using Mango, Pineapple and Watermelon.

### **Challenge 9**

Determine the square roots of a list of number and verify if they are integer

In [ ]:
# Determine the square roots of a list of number and verify if they are integer
from math import sqrt

numbers = [2, 8, 15, 23, 91, 112, 256]

for number in numbers:
  square_root = sqrt(number)
  if square_root // 1 == square_root:
    print(f'The number {number} has a integer square root that is {square_root}.')

The number 256 has a integer square root that is 16.0.

### **Challenge 10**

Discover the price of a piece of grass for garden based on diameter calculation

In [ ]:
# Discover the price of a piece of grass for garden based on diameter calculation
from math import pi, pow

diameter = float(input('What is the diameter of the piece of grass that you want to buy? '))

area = pi * pow(diameter, 2)

price = area * 25

print(f'The price for your grass is US$ {price:.2f}')

What is the diameter of the piece of grass that you want to buy? 1
The price for your grass is US$ 78.54

# Second class - Functions

### **Challenge 1**

Extracting information from a list

In [ ]:
# Determines a number list
list = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

# Returns the list length
length = len(list)

# Finds the list's biggest value
biggest = max(list)

# Finds the list's lower value
lower = min(list)

# Sums the list's values
sum = sum(list)

print(f'The list length is {length}')
print(f'The list biggest value is {biggest}')
print(f'The list lower value is {lower}')
print(f'The list sum is {sum}')

The list length is 17
The list biggest value is 99
The list lower value is 11
The list sum is 743

### **Challenge 2**

Calculating the multiplication table

In [ ]:
# Receives a user number
n = int(input('Enter a number to calculate its multiplication table: '))

# Calculates the multiplication table from 0 to 10 on the user number
def multiplication_table(n):
  for i in range(0, 11):
    print(f'{n} x {i} = {n * i}')

multiplication_table(n)

Enter a number to calculate its multiplication table: 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### **Challenge 3**

Returns a list with multiples of 3

In [ ]:
# Declares a number list
numbers = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

# Declares a list to keep multiples of three
mult_3 = []

# Declares a function to verify if the number is a multiple of three
def multiples_of_three(numbers):
  for n in numbers:
    if n % 3 == 0:
      mult_3.append(n)

# Calls the function 'multiples_of_three'
multiples_of_three(numbers)

# Shows the result to the user
print(f'Multiples of three: {mult_3}')

Multiples of three: [24, 99]

### **Challenge 4**

Numbers squared

In [ ]:
# Declares a number list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert data to list
squared_numbers = list(map(lambda n: pow(n, 2), numbers))

# Shows the result to the user
print(f'List with squared Numbers: {squared_numbers}')

List with squared Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Challenge 5**

Grades of skateboard competition

In [ ]:
# Declares a list to contain the grades
grades = []

# Receives the grades
for i in range(1, 6):
  grades.append(float(input(f'Enter the {i} grade: ')))

# Finds the biggest and the lower grades of the list
biggest = max(grades)
lower = min(grades)

# Remove the biggest and the lower grades from the list
for grade in grades:
  if grade == biggest or grade == lower:
    grades.remove(grade)

# Calculates the grade average
average = sum(grades) / len(grades)

# Present the grade average to the user
print(f'The grade average is {average:.2f}')

Enter the 1 grade: 5
Enter the 2 grade: 7
Enter the 3 grade: 9
Enter the 4 grade: 10
Enter the 5 grade: 45
The grade average is 8.67

### **Challenge 6**

Approved or disapproved student

In [ ]:
# Declares a list to contain the grades
grades = []

# Receives the grades
for i in range(1, 5):
  grades.append(float(input(f'Enter the {i} grade: ')))

# Finds the biggest and the lower grades
biggest = max(grades)
lower = min(grades)

# Calculates the grade average
average = sum(grades) / len(grades)

# Verify if the student was approved or disapproved
if average >= 7:
  situation = 'Approved'
else:
  situation = 'Disapproved'

# Return the student situation
print(f'The student average is {average:.2f}, their biggest grade was: {biggest:.2f}, their lower grade was: {lower:.2f} and the student is {situation}!')

Enter the 1 grade: 7
Enter the 2 grade: 5
Enter the 3 grade: 9
Enter the 4 grade: 10
The student average is 7.75, their biggest grade was: 10.00, their lower grade was: 5.00 and the student is Approved!

### **Challenge 7**

Names and last names

In [ ]:
# Lists of names and last names
names = ["joão", "MaRia", "JOSÉ"]
last_names = ["SILVA", "souza", "Tavares"]

# Return the complete name of each person
complete_name = map(lambda name, last_name: f'{name.title()} {last_name.title()}', names, last_names)

for n in complete_name:
  print(f'Complete name: {n}')

Complete name: João Silva
Complete name: Maria Souza
Complete name: José Tavares

### **Challenge 8**

Soccer league

In [ ]:
# Declares two lists that contain the number of goals scored and conceded
goals_scored = [2, 1, 3, 1, 0]
goals_conceded = [1, 2, 2, 1, 3]

# Processes the team's score
def score(goals_scored, goals_conceded):
  team_score = 0
  for i in range(len(goals_scored)):
    if goals_scored[i] > goals_conceded[i]:
      team_score += 3
    elif goals_scored[i] == goals_conceded[i]:
      team_score += 1
  team_performance = 100 * team_score / (len(goals_scored) * 3)
  return (team_score, team_performance)

# Receives the team's score and performance
team_score, team_performance = score(goals_scored, goals_conceded)

print(f'Team score: {team_score:.2f} and team performance: {team_performance:.2f}%')

Team score: 7.00 and team performance: 46.67%

### **Challenge 9**

Trip to the north east of Brazil

In [ ]:
# Declares three lists that contain the values of cities, food expenses and distance from a city to another
cities = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']
food_expenses = [200, 400, 250, 300]
distance_km = [850, 800, 300, 550]

# Numbers of days traveling
days = 3

# Hotels expenses
hotel = 150 * days

# Food expenses
food = list(map(lambda food: food * days, food_expenses))

# Gas expenses
gas = list(map(lambda km: km / 14 * 5, distance_km))

# Processes the destinations and their expenses
destinations = list(map(lambda city, food, gas: f'Destination: {city}; hotel: R$ {hotel}; food: R$ {food}; and gas: R$ {round(gas, 2)}', cities, food, gas))

for d in destinations:
  print(d)

Destination: Salvador; hotel: R$ 450; food: R$ 600; and gas: R$ 303.57
Destination: Fortaleza; hotel: R$ 450; food: R$ 1200; and gas: R$ 285.71
Destination: Natal; hotel: R$ 450; food: R$ 750; and gas: R$ 107.14
Destination: Aracaju; hotel: R$ 450; food: R$ 900; and gas: R$ 196.43

### **Challenge 10**

Filtering words

In [ ]:
# Receives a phrase
phrase = input('Enter a phrase: ')

words = phrase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ').split()

filtered_words = list(filter(lambda word: len(word) >= 5, words))

print(filtered_words)

Enter a phrase: John likes to play guitar
['likes', 'guitar']

# Third class - Data structures

### **Challenge 1**

Sum lists

In [ ]:
# Declares a list of lists containing numbers
numbers = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

# Declares a list to contain the sums
sums = []

# Sums the numbers of each list of numbers
for n in numbers:
  sums.append(sum(n))

sums

[24, 10, 16]

### **Challenge 2**

Keeping an item from a tuple list

In [ ]:
# Declares a tuple list with people's data
people = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

# Declares a list to keep the third item from each tuple from the people's data list
third_data = []

# Add the third element inside the list
for p in people:
  third_data.append(p[2])

third_data

[81, 67, 83]

### **Challenge 3**

Generating a new tuple list

In [ ]:
# Declares a list with people's data
people = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

# Declares a list to keep tuples with people's data
people_data = []

# Generates a tuple list with the people's data
for i in range(len(people)):
  people_data.append((i, people[i]))

people_data

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

### **Challenge 4**

Handles a tuple list containing property data

In [ ]:
# Declares a tuple list containing property data, like their rental value
rent = [('Apartment', 1700), ('Apartment', 1400), ('House', 2150), ('Apartment', 1900), ('House', 1100)]

# Generates another list to keep only the 'Apartnent' properties' rental values
apartment_rental = [construct[1] for construct in rent if construct[0] == 'Apartment']

apartment_rental

[1700, 1400, 1900]

### **Challenge 5**

Generates a dictionary with dict comprehension

In [ ]:
# Declares two lists to keep 'months' and 'espenses' data
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
expenses = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

# Generates a dict using 'months' (keys) and 'expenses' (values) lists
data = {months[i]: expenses[i] for i in range(len(months))}

data

{'Jan': 860,
 'Feb': 490,
 'Mar': 1010,
 'Apr': 780,
 'May': 900,
 'Jun': 630,
 'Jul': 590,
 'Aug': 770,
 'Sep': 620,
 'Oct': 560,
 'Nov': 840,
 'Dec': 360}

### **Challenge 6**

Filters sales data

In [ ]:
# Declares a list containin the sales data from a store
sales = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883),
  ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544),
  ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471),
  ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

# Filters the sales data by year (2022) and value (bigger than 6000)
sales_data = [sale[1] for sale in sales if sale[0] == '2022' and sale[1] > 6000]

sales_data

[8883, 7688, 9544, 8190]

### **Challenge 7**

Generates a tuple list from patient's blood glucose

In [ ]:
# Declares a list containing patient's blood glucose values
blood_glucose = [129, 82, 60, 97,
                 101, 65, 62, 167,
                 87, 53, 58, 92,
                 66, 120, 109, 62,
                 86, 96, 103, 88,
                 155, 52, 89, 73]

# Generates a tuple list based on the patient's blood glucose values
patients_data = [('Hypoglicemia', value) if value <= 70
                 else ('Normal', value) if value < 100
                 else ('Altered', value) if value < 125
                 else ('Diabetes', value) for value in blood_glucose]

patients_data

[('Diabetes', 129),
 ('Normal', 82),
 ('Hypoglicemia', 60),
 ('Normal', 97),
 ('Altered', 101),
 ('Hypoglicemia', 65),
 ('Hypoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hypoglicemia', 53),
 ('Hypoglicemia', 58),
 ('Normal', 92),
 ('Hypoglicemia', 66),
 ('Altered', 120),
 ('Altered', 109),
 ('Hypoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Altered', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hypoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

### **Challenge 8**

Handling an E-commerce dataset

In [ ]:
# Declares three lists containing the E-commerce dataset
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantity = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
price = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

# Add a header to the dataset table
table = [('Id', 'Quantity', 'Price', 'Total')]

# Handles the dataset and generates a table with it
table += [(id[i], quantity[i], price[i], quantity[i] * price[i]) for i in range(len(id))]

table

[('Id', 'Quantity', 'Price', 'Total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

### **Challenge 9**

Dealing with braches of a company

In [ ]:
# Declares a list containing the Brazilian states of each branch
states = ['SP', 'ES', 'MG', 'MG',
          'SP', 'MG', 'ES', 'ES',
          'ES', 'SP', 'SP', 'MG',
          'ES', 'SP', 'RJ', 'MG',
          'RJ', 'SP', 'MG', 'SP',
          'ES', 'SP', 'MG']

# Keeps each state just one time
unique_states = list(set(states))

# Declares a list to keep the sorted states
sorted_states = []

# Runs through the states and sort them
for state in unique_states:
  state_list = [uf for uf in states if uf == state]
  sorted_states.append(state_list)

# Generates a dict containing the appearance number of each state
states_values = {unique_states[i]: len(state_list[i]) for i in range(len(unique_states))}

states_values

{'MG': 2, 'ES': 2, 'RJ': 2, 'SP': 2}

### **Challenge 10**

Dealing with employes of a company

In [ ]:
# Declares a tuple list containing states and the number of employes in each state
states_employes = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6),
                    ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7),
                    ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8),
                    ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5),
                    ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7),
                    ('ES', 14), ('SP', 10), ('MG', 12)]

# Generates a list containing each state just one time
unique_states = list(set([item[0] for item in states_employes]))

# Declares a list to keep the number of employes
employes_values = []

# Runs the list of states and employes to sort each employe number in its specific state
for state in unique_states:
  employes_list = [item[1] for item in states_employes if item[0] == state]
  employes_values.append(employes_list)

# Keeps the sorted employes based on their own state and show it
sorted_employes = {unique_states[i]: employes_values[i] for i in range(len(unique_states))}
print(f'Sorted employes: {sorted_employes}')

# Sums the number of employes of each state and show it
employes_sum = {unique_states[i]: sum(employes_values[i]) for i in range(len(unique_states))}
print(f'Sum of employes: {employes_sum}')

Sorted employes: {'MG': [9, 6, 4, 8, 5, 10, 12], 'ES': [8, 9, 7, 12, 8, 14], 'RJ': [13, 9], 'SP': [16, 10, 7, 11, 9, 12, 7, 10]}
Sum of employes: {'MG': 54, 'ES': 58, 'RJ': 22, 'SP': 82}

# Fourth class - Exceptions

### **Challenge 1**

Exceptions with float type

In [ ]:
# Tries to read two float numbers
try:
  # Reads two values (float)
  n1 = float(input('Enter the 1st number: '))
  n2 = float(input('Enter the 2nd number: '))
  division = n1 / n2
except Exception as e:
  print(type(e), f'Error: {e}')
else:
  print(f'Division: {division}')

Enter the 1st number: 7
Enter the 2nd number: 0
<class 'ZeroDivisionError'> Error: float division by zero

### **Challenge 2**

Exceptions with dictionaries

In [ ]:
# Declare a dict containing ages of people
people = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

# Try to read a name and find it in the dict 'people'
try:
  name = input('Enter a name: ')
  person = people[name]
except KeyError:
  print('Name not found')
else:
  print(person)

Enter a name: Matheus
Name not found

### **Challenge 3**

Dealing wiht a list of numbers

In [ ]:
# Declare a list of numbers
numbers = ['1', '2', '3', '4', '5', '1', '2', '3', '4', '5']

# Try to convert the number from the list into float
try:
  float_numbers = list(map(lambda n: float(n), numbers))
except Exception as e:
  print(type(e), f'Error: {e}')
else:
  print(float_numbers)
finally:
  print('End of execution')

[1.0, 2.0, 3.0, 4.0, 5.0, 1.0, 2.0, 3.0, 4.0, 5.0]
End of execution

### **Challenge 4**

Dealing with exceptions and tuples

In [ ]:
# Declare two lists containing numbers
numbers = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
reverse_numbers = [5, 4, 3, 2, 1, 5, 4, 3, 2]

# Try to zip the lists and sum each pair of values from them
try:
  if len(numbers) == len(reverse_numbers):
    final_numbers = [(numbers[i], reverse_numbers[i], numbers[i] + reverse_numbers[i]) for i in range(len(numbers))]
  else:
    raise IndexError('The quantity of numbers is invalid.')
except Exception as e:
  print(type(e), f'Error {e}')
else:
  print(final_numbers)

<class 'IndexError'> Error The quantity of numbers is invalid.

### **Challenge 5**

Grades and exeptions

In [14]:
# Declare a list containing a test answer key
key = ['D', 'A', 'B', 'C', 'A']

# Declare a list of lists containing the treated student answers
student_answers = [['D', 'A', 'B', 'C', 'A'],
                    ['C', 'A', 'A', 'C', 'A'],
                    ['D', 'B', 'A', 'C', 'A']]

# Declare a list of lists containing the untreated student answers
student_un_answers = [['D', 'A', 'B', 'C', 'A'],
                        ['C', 'A', 'A', 'E', 'A'],
                        ['D', 'B', 'A', 'C', 'A']]

# Declare a list to keep the points of each student
points = []

# Try to verify the correct answers and count them
try:
  # Run the list of lists containin all the student answers
  for answers in student_answers:
    # Initialiaze the counter variable
    count = 0
    # Run the length of each list inside the 'student_answers' list
    for i in range(len(answers)):
      # If the answer isn't valid...
      if answers[i] not in ['A', 'B', 'C', 'D']:
        # Return a custom reason for this problem
        raise ValueError(f'The answer {answers[i]} is not a valid option')
      # If the answer choosed by the student is equal to the key answer...
      if answers[i] == key[i]:
        # Improve the counter
        count += 1
    # Add the sum of points of each student into the 'points' list
    points.append([count])
# Except...
except Exception as e:
  # Print a error message to the user
  print(type(e), f'Error: {e}')
# If the program worked, print the list of points of each student
else:
  print(f'Student Grades: {points}')

Student Grades: [[5], [3], [3]]

### **Challenge 6**

Dealing with strings and exceptions

In [12]:
# Declare a list containing treated words
words = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
          'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
          'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']

# Declare a list containing untreated words
un_words = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
            'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
            'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']

# Try to verify if there are ponctuation symbols in each word
try:
  # Run the word list
  for word in words:
    # If there is at least one poctuation symbol in the word...
    if '.' in word or ',' in word or '!' in word or '?' in word:
      # Return a custom reason for this problem
      raise ValueError(f'There is at least one ponctuation symbol in the word: {word}')
# Except...
except Exception as e:
  # Print a error message to the user
  print(type(e), f'Error: {e}')
# If the program worked, print an ending message
else:
  print('The word list has been treated')

The word list has been treated

### **Challenge 7**

Dealing with ValueError and ZeroDivisionError Exceptions

In [31]:
# Declare two lists containing pressure and temperature values
pressures = [100, 120, 140, 160, 180]
temperatures = [20, 25, 30, 35, 40]

# Declare a list containing pressure values, but with ValueError
v_pressures = [100, 120, 140, 160]    # This one has one less value

# Declare list containing temperature values, but with ZeroDivisionError
z_temperatures = [0, 25, 30, 35, 40]  # This one has a zero value

# Declare a list to keep the values and their divisions
divided = []

# Try zip and divide the values of the two lists
try:
  # If the two lists have the same number of elements...
  if len(pressures) == len(temperatures):
    # Zip the values into a tuple
    values = list(zip(pressures, temperatures))
  # Else...
  else:
    # Return a custom reason for this problem
    raise ValueError('The two lists do not have the same number of elements')
  # Run the list of tuples of values
  for value in values:
    # If someone try to divide a number by zero...
    if value[1] == 0:
      # Return a custom reason for this problem
      raise ZeroDivisionError(f'We cannot divide a number by {value[1]}')
    divided.append((value[0], value[1], round(value[0] / value[1], 1)))
# Except...
except ValueError as e:
  # Print a error message to the user
  print(type(e), f'Error: {e}')
# Except...
except ZeroDivisionError as e:
  # Print a error message to the user
  print(type(e), f'Error: {e}')
# If the program worked, print an ending message
else:
  print(f'(Pressures - Temperatures - Ratio)\n{divided}')

(Pressures - Temperatures - Ratio)
[(100, 20, 5.0), (120, 25, 4.8), (140, 30, 4.7), (160, 35, 4.6), (180, 40, 4.5)]