<a href="https://colab.research.google.com/github/Matheus-Pombeiro/python-for-data-science/blob/main/exercises_and_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**

## Exercises and challenges

# First class - Libraries

### **EX 1**

Import of randrange and sample from random

In [ ]:
# Import of randrange and sample from random
from random import randrange, sample

list = []

for i in range(0, 20):
  list.append(randrange(100))

sample(list, 5)

[63, 61, 95, 93, 96]

### **EX 2**

Import all methods from math

In [ ]:
# Import all methods from math
from math import *

n = int(input('Type a positive number to calculate its square root: '))
print(f'\nThe square root of {n} is the same as {sqrt(n)}')

Type a positive number to calculate its square root: 2

The square root of 2 is the same as 1.4142135623730951

### **EX 3**

Import ceil from math

In [ ]:
# Import ceil from math
from math import ceil

revenue = 1000
unit_price = 15

total_units = revenue / unit_price

print(f'The company sold about {ceil(total_units)} units')

The company sold about 67 units

### **Challenge 1**

Import matplotlib

In [ ]:
# Import matplotlib
import matplotlib

### **Challenge 2**

Import numpy

In [ ]:
# Import numpy
import numpy as np

### **Challenge 3**

Choose a random number from the list

In [ ]:
# Choose a random number from the list
from random import choice

list = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

number = choice(list)
number

43

### **Challenge 4**

Draw a positive number lesser than 100

In [ ]:
# Draw a positive number lesser than 100
from random import randrange, sample

list = []

for i in range(0, 7):
  list.append(randrange(100))

sample(list, 1)

[19]

### **Challenge 5**

Calculate power with pow()

In [ ]:
# Calculate power with pow()
from math import pow

number_1 = int(input('Type a number: '))
number_2 = int(input('Type another number: '))

result = pow(number_1, number_2)

print(f'The power of {number_1} raised to {number_2} is the same as {int(result)}')

Type a number: 5
Type another number: 7
The power of 5 raised to 7 is the same as 78125

### **Challenge 6**

Choose a random winner on a social media

In [ ]:
# Choose a random winner on a social media
from random import randint

number = int(input('Enter the number of participants in the draw: '))

print(f'The winner is the participant number {randint(1, number)}')

Enter the number of participants in the draw: 5
The winner is the participant number 3

### **Challenge 7**

Radomly generate an access token for the user

In [ ]:
# Radomly generate an access token for the user
access_token = randrange(1000, 9998, 2)

username = input('What is your name? ')

print(f'Hi, {username}. Your access token is {access_token}. Welcome!')

What is your name? Matheus
Hi, Matheus. Your access token is 9430. Welcome!

### **Challenge 8**

Choose three fruits radomly from the list of fruits of a fruit shop

In [ ]:
# Choose three fruits radomly from the list of fruits of a fruit shop
from random import choices

fruits = ['Apple', 'Banana', 'Grape', 'Pear',
          'Mango',  'Coconut', 'Watermelon', 'Papaya',
          'Orange', 'Pineapple', 'Kiwi', 'Plum']

fruit_salad = choices(fruits, k=3)
print(f'Your fruit salad will be made using {fruit_salad[0]}, {fruit_salad[1]} and {fruit_salad[2]}.')

Your fruit salad will be made using Mango, Pineapple and Watermelon.

### **Challenge 9**

Determine the square roots of a list of number and verify if they are integer

In [ ]:
# Determine the square roots of a list of number and verify if they are integer
from math import sqrt

numbers = [2, 8, 15, 23, 91, 112, 256]

for number in numbers:
  square_root = sqrt(number)
  if square_root // 1 == square_root:
    print(f'The number {number} has a integer square root that is {square_root}.')

The number 256 has a integer square root that is 16.0.

### **Challenge 10**

Discover the price of a piece of grass for garden based on diameter calculation

In [ ]:
# Discover the price of a piece of grass for garden based on diameter calculation
from math import pi, pow

diameter = float(input('What is the diameter of the piece of grass that you want to buy? '))

area = pi * pow(diameter, 2)

price = area * 25

print(f'The price for your grass is US$ {price:.2f}')

What is the diameter of the piece of grass that you want to buy? 1
The price for your grass is US$ 78.54

# Second class - Functions

### **Challenge 1**

Extracting information from a list

In [ ]:
# Determines a number list
list = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

# Returns the list length
length = len(list)

# Finds the list's biggest value
biggest = max(list)

# Finds the list's lower value
lower = min(list)

# Sums the list's values
sum = sum(list)

print(f'The list length is {length}')
print(f'The list biggest value is {biggest}')
print(f'The list lower value is {lower}')
print(f'The list sum is {sum}')

The list length is 17
The list biggest value is 99
The list lower value is 11
The list sum is 743

### **Challenge 2**

Calculating the multiplication table

In [ ]:
# Receives a user number
n = int(input('Enter a number to calculate its multiplication table: '))

# Calculates the multiplication table from 0 to 10 on the user number
def multiplication_table(n):
  for i in range(0, 11):
    print(f'{n} x {i} = {n * i}')

multiplication_table(n)

Enter a number to calculate its multiplication table: 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### **Challenge 3**

Returns a list with multiples of 3

In [ ]:
# Declares a number list
numbers = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

# Declares a list to keep multiples of three
mult_3 = []

# Declares a function to verify if the number is a multiple of three
def multiples_of_three(numbers):
  for n in numbers:
    if n % 3 == 0:
      mult_3.append(n)

# Calls the function 'multiples_of_three'
multiples_of_three(numbers)

# Shows the result to the user
print(f'Multiples of three: {mult_3}')

Multiples of three: [24, 99]

### **Challenge 4**

Numbers squared

In [ ]:
# Declares a number list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert data to list
squared_numbers = list(map(lambda n: pow(n, 2), numbers))

# Shows the result to the user
print(f'List with squared Numbers: {squared_numbers}')

List with squared Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Challenge 5**

Grades of skateboard competition

In [9]:
# Declares a list to contain the grades
grades = []

# Receives the grades
for i in range(1, 6):
  grades.append(float(input(f'Enter the {i} grade: ')))

# Finds the biggest and the lower grades of the list
biggest = max(grades)
lower = min(grades)

# Remove the biggest and the lower grades from the list
for grade in grades:
  if grade == biggest or grade == lower:
    grades.remove(grade)

# Calculates the grade average
average = sum(grades) / len(grades)

# Present the grade average to the user
print(f'The grade average is {average:.2f}')

Enter the 1 grade: 5
Enter the 2 grade: 7
Enter the 3 grade: 9
Enter the 4 grade: 10
Enter the 5 grade: 45
The grade average is 8.67

### **Challenge 6**

Approved or disapproved student

In [10]:
# Declares a list to contain the grades
grades = []

# Receives the grades
for i in range(1, 5):
  grades.append(float(input(f'Enter the {i} grade: ')))

# Finds the biggest and the lower grades
biggest = max(grades)
lower = min(grades)

# Calculates the grade average
average = sum(grades) / len(grades)

# Verify if the student was approved or disapproved
if average >= 7:
  situation = 'Approved'
else:
  situation = 'Disapproved'

# Return the student situation
print(f'The student average is {average:.2f}, their biggest grade was: {biggest:.2f}, their lower grade was: {lower:.2f} and the student is {situation}!')

Enter the 1 grade: 7
Enter the 2 grade: 5
Enter the 3 grade: 9
Enter the 4 grade: 10
The student average is 7.75, their biggest grade was: 10.00, their lower grade was: 5.00 and the student is Approved!

### **Challenge 7**

Names and last names

In [13]:
# Lists of names and last names
names = ["joão", "MaRia", "JOSÉ"]
last_names = ["SILVA", "souza", "Tavares"]

# Return the complete name of each person
complete_name = map(lambda name, last_name: f'{name.title()} {last_name.title()}', names, last_names)

for n in complete_name:
  print(f'Complete name: {n}')

Complete name: João Silva
Complete name: Maria Souza
Complete name: José Tavares

### **Challenge 8**

Soccer league

In [17]:
# Declares two lists that contain the number of goals scored and conceded
goals_scored = [2, 1, 3, 1, 0]
goals_conceded = [1, 2, 2, 1, 3]

# Processes the team's score
def score(goals_scored, goals_conceded):
  team_score = 0
  for i in range(len(goals_scored)):
    if goals_scored[i] > goals_conceded[i]:
      team_score += 3
    elif goals_scored[i] == goals_conceded[i]:
      team_score += 1
  team_performance = 100 * team_score / (len(goals_scored) * 3)
  return (team_score, team_performance)

# Receives the team's score and performance
team_score, team_performance = score(goals_scored, goals_conceded)

print(f'Team score: {team_score:.2f} and team performance: {team_performance:.2f}%')

Team score: 7.00 and team performance: 46.67%

### **Challenge 9**

Trip to the north east of Brazil

In [26]:
# Declares three lists that contain the values of cities, food expenses and distance from a city to another
cities = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']
food_expenses = [200, 400, 250, 300]
distance_km = [850, 800, 300, 550]

# Numbers of days traveling
days = 3

# Hotels expenses
hotel = 150 * days

# Food expenses
food = list(map(lambda food: food * days, food_expenses))

# Gas expenses
gas = list(map(lambda km: km / 14 * 5, distance_km))

# Processes the destinations and their expenses
destinations = list(map(lambda city, food, gas: f'Destination: {city}; hotel: R$ {hotel}; food: R$ {food}; and gas: R$ {round(gas, 2)}', cities, food, gas))

for d in destinations:
  print(d)

Destination: Salvador; hotel: R$ 450; food: R$ 600; and gas: R$ 303.57
Destination: Fortaleza; hotel: R$ 450; food: R$ 1200; and gas: R$ 285.71
Destination: Natal; hotel: R$ 450; food: R$ 750; and gas: R$ 107.14
Destination: Aracaju; hotel: R$ 450; food: R$ 900; and gas: R$ 196.43

### **Challenge 10**

Filtering words

In [34]:
# Receives a phrase
phrase = input('Enter a phrase: ')

words = phrase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ').split()

filtered_words = list(filter(lambda word: len(word) >= 5, words))

print(filtered_words)

Enter a phrase: John likes to play guitar
['likes', 'guitar']